K-means

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()  # for plot styling
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans

In [2]:
# Importing the dataset
data = pd.read_csv('./merge_5_final.csv')

In [3]:
data.head()

,the_geom,name,field_1,ftid,aa_mins,aa_mode,layer,path,n_hood,cartodb_id,area_ind,area_trans,area_res,area_inst,area_com,area_nat,area_os,area_hec
0,0106000020E61000000100000001030000000100000010...,5_min_28,30,27,5,foot-walking,Isochrone_corrected_blue_bike_stations_copy_1,Polygon?crs=EPSG:4326&uid={5b13ab99-0567-4784-...,28,28,0.752444,1.544480,41.843504,11.698562,5.302406,1.922480,0.763555,63.827432
1,0106000020E6100000010000000103000000010000000C...,5_min_50,52,9,5,foot-walking,Isochrone_corrected_blue_bike_stations_copy_2 ...,Polygon?crs=EPSG:4326&uid={fb7a2bc9-6e21-4761-...,50,50,10.203811,0.000000,40.550340,4.480177,12.860477,0.000000,0.237464,70.050507
2,0106000020E61000000100000001030000000100000011...,5_min_19,22,18,5,foot-walking,Isochrone_corrected_blue_bike_stations_copy_1,Polygon?crs=EPSG:4326&uid={5b13ab99-0567-4784-...,19,19,0.000000,0.000000,1.913109,51.426326,9.561396,0.000000,0.000000,67.790746
3,0106000020E6100000010000000103000000010000000D...,5_min_165,167,4,5,foot-walking,Isochrone_corrected_blue_bike_stations_copy_5 ...,Polygon?crs=EPSG:4326&uid={77e417dd-1541-45b1-...,165,165,0.110386,0.000000,22.737056,8.126976,0.810306,9.227952,0.000000,55.271592
4,0106000020E61000000100000001030000000100000014...,5_min_187,187,26,5,foot-walking,Isochrone_corrected_blue_bike_stations_copy_5 ...,Polygon?crs=EPSG:4326&uid={77e417dd-1541-45b1-...,187,187,2.166572,1.534792,32.734965,3.285337,8.265202,6.374670,0.570001,59.078812

In [4]:
data = data[['area_ind','area_trans','area_res','area_inst','area_com','area_nat','area_os']]

In [5]:
data.head()

    area_ind  area_trans   area_res  area_inst   area_com  area_nat   area_os
0   0.752444    1.544480  41.843504  11.698562   5.302406  1.922480  0.763555
1  10.203811    0.000000  40.550340   4.480177  12.860477  0.000000  0.237464
2   0.000000    0.000000   1.913109  51.426326   9.561396  0.000000  0.000000
3   0.110386    0.000000  22.737056   8.126976   0.810306  9.227952  0.000000
4   2.166572    1.534792  32.734965   3.285337   8.265202  6.374670  0.570001

In [42]:
# Convert DataFrame to matrix
mat = data.values
# Using sklearn
km2 = KMeans(n_clusters=2).fit(mat)
# Get cluster assignment labels
labels2 = km2.labels_
# Format results as a DataFrame
#results = pd.DataFrame([data.index,labels]).T
km3 = KMeans(n_clusters=3).fit(mat)
labels3 = km3.labels_
# 4 clusters
km4 = KMeans(n_clusters=4).fit(mat)
labels4 = km4.labels_

In [43]:
data['k_means_2']=labels2
data['k_means_3']=labels3
data['k_means_4']=labels4

In [44]:
data

,area_ind,area_trans,area_res,area_inst,area_com,area_nat,area_os,k_means_2,k_means_3,k_means_4
0,0.752444,1.544480,41.843504,11.698562,5.302406,1.922480,0.763555,1,1,1
1,10.203811,0.000000,40.550340,4.480177,12.860477,0.000000,0.237464,1,1,1
2,0.000000,0.000000,1.913109,51.426326,9.561396,0.000000,0.000000,0,0,3
3,0.110386,0.000000,22.737056,8.126976,0.810306,9.227952,0.000000,1,1,1
4,2.166572,1.534792,32.734965,3.285337,8.265202,6.374670,0.570001,1,1,1
5,1.389056,5.645578,17.241087,8.091732,15.358629,12.867798,0.000000,0,2,2
6,0.324773,1.739715,41.067009,3.452665,11.443842,4.166118,0.000000,1,1,1
7,0.492919,0.009286,18.101598,0.753999,3.552449,5.720905,0.000000,1,1,2
8,1.540053,5.833043,27.567106,9.540599,14.771568,0.000000,0.000000,1,1,1
9,1.883810,0.000000,47.105677,4.311561,6.265026,0.000000,0.114855,1,1,1
10,0.256926,3.965451,27.839417,11.014948,26.567686,2.774561,0.000000,1,2,0
11,2.480003,5.731942,0.228318,4.660259,59.410564,0.000000,0.000000,0,2,0
12,9.261876,0.000000,42.983594,6.070761,13.514990,0.000636,0.000000,1,1,1
13,9.408690,19.112539,6.860289,10.522591,17.055658,2.846053,0.000000,0,2,2
14,0.351294,2.184567,1.721746,18.601699,48.378290,0.000000,0.000000,0,2,0
15,6.115191,4.737898,28.340272,5.609033,25.629948,1.315412,0.000000,1,2,0
16,24.984115,2.550991,6.797106,6.642752,13.241809,0.047300,4.738341,0,2,2
17,0.278748,0.000000,42.222258,5.476350,20.957797,0.000000,0.000000,1,1,1
18,0.000000,1.916034,38.435531,9.628740,11.315646,0.000000,0.000000,1,1,1
19,0.633048,0.861805,29.572570,3.731788,16.896633,3.442408,0.530283,1,1,1
20,0.000000,0.000000,7.750902,49.356544,0.952357,0.000000,0.000000,0,0,3
21,0.999453,34.798774,0.000000,0.000000,13.961470,0.125415,0.000000,0,2,2
22,3.125596,6.063522,28.745163,5.540835,16.038299,0.000000,0.000000,1,1,1
23,1.900326,5.672742,36.016807,10.636671,22.047472,0.000000,0.000000,1,1,1
24,3.481506,0.435753,14.499689,9.461868,15.518372,0.000000,1.267739,0,2,2
25,0.000000,1.749532,43.511243,3.910120,11.895701,0.000000,0.000000,1,1,1
26,5.152086,1.120063,28.851642,9.934119,22.400862,0.000000,1.799256,1,1,1
27,0.181716,2.821833,41.784775,7.077092,17.426863,0.159514,0.000000,1,1,1
28,4.974094,27.523928,0.000000,3.310719,14.838173,0.143366,0.000000,0,2,2
29,0.000000,0.000000,49.403451,4.503913,3.996715,3.983511,1.108903,1,1,1
...,...,...,...,...,...,...,...,...,...,...
222,0.000000,0.000000,39.160980,15.114086,1.754544,4.797917,0.000000,1,1,1
223,1.908138,7.363915,10.641884,10.512981,23.781875,8.501773,0.000000,0,2,0
224,0.256926,1.056308,21.428339,7.997194,35.210162,0.008715,0.000000,0,2,0
225,0.000000,0.000000,14.156879,39.624329,4.931473,0.000000,0.000000,0,0,3
226,0.000000,0.000000,15.526949,11.013526,38.251869,0.000000,0.000000,0,2,0
227,4.024197,27.753190,0.000000,4.188128,15.412268,0.000998,0.000000,0,2,2
228,0.026727,7.177846,21.889255,5.958784,11.210047,18.238685,0.000000,0,2,2
229,10.108728,0.745367,2.367167,40.791812,12.600453,4.999146,0.006955,0,0,3
230,6.221338,1.423607,41.723693,6.239814,11.781484,1.101700,0.000000,1,1,1
231,4.635462,0.490791,22.456324,3.683416,6.842701,13.944055,0.000000,1,1,2
232,0.000000,0.377192,50.822811,5.363970,19.826383,0.000000,0.000000,1,1,1
233,1.855045,2.970245,10.972530,14.121582,27.569683,2.662014,0.000000,0,2,0
234,0.219817,0.000000,9.546159,45.906188,3.853513,10.070059,0.000000,0,0,3
235,0.000000,0.000000,6.671084,36.597848,11.169790,10.935807,0.000000,0,0,3
236,0.230199,3.644278,26.833273,18.290581,17.626577,0.178585,0.000000,1,1,1
237,4.596564,15.963277,3.931169,8.579188,22.796741,0.000000,0.000000,0,2,2
238,2.068411,1.810335,45.990996,5.992544,11.031651,0.000000,0.000000,1,1,1
239,0.042659,1.620363,22.123044,10.628527,38.824410,0.000000,0.000000,0,2,0
240,4.121813,0.000000,31.388898,7.451090,24.540138,0.000000,0.000000,1,1,1
241,12.096949,0.000000,19.975485,10.203479,21.400832,0.000000,0.000000,0,2,0
242,2.862165,1.731597,34.070717,4.579060,19.625160,0.574368,0.000000,1,1,1
243,15.315319,1.188278,27.991935,11.647213,11.021157,0.000000,0.626025,1,1,1
244,0.288449,17.605682,0.000000,9.367662,21.933137,0.226936,0.000000,0,2,2
245,0.190881,2.333161,14.818793,21.786615,28.447116,1.528462,0.000000,0,2,0
246,0.046746,0.000000,31.943397,24.968624,4.248187,0.000000,0.000000,1,1,1
247,0.000000,0.000000,46.541300,3.605466,18.413181,0.225739,0.000000,1,1,1
248,14.341352,1.891557,5.600986,13.588693,7.809911,11.531346,0.214343,0,2,2
249,0.000000,5.073524,16.592647,27.835729,5.785211,0.740075,0.562239,0,0,3
250,0.164496,9.655141,16.508710,19.627659,5.532078,12.148379,0.000000,0,0,2
251,13.332072,0.000000,46.856292,4.833447,11.311184,0.463131,0.262561,1,1,1

In [45]:
data = data.reset_index()

In [46]:
data = data[['index','k_means_2','k_means_3','k_means_4']]

In [47]:
data.head()

   index  k_means_2  k_means_3  k_means_4
0      0          1          1          1
1      1          1          1          1
2      2          0          0          3
3      3          1          1          1
4      4          1          1          1

In [48]:
data2 = pd.read_csv('./merge_5_final.csv')

In [49]:
data2 = data2.reset_index()

In [50]:
data2.head()

,index,the_geom,name,field_1,ftid,aa_mins,aa_mode,layer,path,n_hood,cartodb_id,area_ind,area_trans,area_res,area_inst,area_com,area_nat,area_os,area_hec
0,0,0106000020E61000000100000001030000000100000010...,5_min_28,30,27,5,foot-walking,Isochrone_corrected_blue_bike_stations_copy_1,Polygon?crs=EPSG:4326&uid={5b13ab99-0567-4784-...,28,28,0.752444,1.544480,41.843504,11.698562,5.302406,1.922480,0.763555,63.827432
1,1,0106000020E6100000010000000103000000010000000C...,5_min_50,52,9,5,foot-walking,Isochrone_corrected_blue_bike_stations_copy_2 ...,Polygon?crs=EPSG:4326&uid={fb7a2bc9-6e21-4761-...,50,50,10.203811,0.000000,40.550340,4.480177,12.860477,0.000000,0.237464,70.050507
2,2,0106000020E61000000100000001030000000100000011...,5_min_19,22,18,5,foot-walking,Isochrone_corrected_blue_bike_stations_copy_1,Polygon?crs=EPSG:4326&uid={5b13ab99-0567-4784-...,19,19,0.000000,0.000000,1.913109,51.426326,9.561396,0.000000,0.000000,67.790746
3,3,0106000020E6100000010000000103000000010000000D...,5_min_165,167,4,5,foot-walking,Isochrone_corrected_blue_bike_stations_copy_5 ...,Polygon?crs=EPSG:4326&uid={77e417dd-1541-45b1-...,165,165,0.110386,0.000000,22.737056,8.126976,0.810306,9.227952,0.000000,55.271592
4,4,0106000020E61000000100000001030000000100000014...,5_min_187,187,26,5,foot-walking,Isochrone_corrected_blue_bike_stations_copy_5 ...,Polygon?crs=EPSG:4326&uid={77e417dd-1541-45b1-...,187,187,2.166572,1.534792,32.734965,3.285337,8.265202,6.374670,0.570001,59.078812

In [51]:
data3 = pd.merge(data, data2, on='index', how='outer')

In [52]:
data3.head()

,index,k_means_2,k_means_3,k_means_4,the_geom,name,field_1,ftid,aa_mins,aa_mode,...,n_hood,cartodb_id,area_ind,area_trans,area_res,area_inst,area_com,area_nat,area_os,area_hec
0,0,1,1,1,0106000020E61000000100000001030000000100000010...,5_min_28,30,27,5,foot-walking,...,28,28,0.752444,1.544480,41.843504,11.698562,5.302406,1.922480,0.763555,63.827432
1,1,1,1,1,0106000020E6100000010000000103000000010000000C...,5_min_50,52,9,5,foot-walking,...,50,50,10.203811,0.000000,40.550340,4.480177,12.860477,0.000000,0.237464,70.050507
2,2,0,0,3,0106000020E61000000100000001030000000100000011...,5_min_19,22,18,5,foot-walking,...,19,19,0.000000,0.000000,1.913109,51.426326,9.561396,0.000000,0.000000,67.790746
3,3,1,1,1,0106000020E6100000010000000103000000010000000D...,5_min_165,167,4,5,foot-walking,...,165,165,0.110386,0.000000,22.737056,8.126976,0.810306,9.227952,0.000000,55.271592
4,4,1,1,1,0106000020E61000000100000001030000000100000014...,5_min_187,187,26,5,foot-walking,...,187,187,2.166572,1.534792,32.734965,3.285337,8.265202,6.374670,0.570001,59.078812

In [53]:
data3 = data3.drop(['index'], axis=1)

In [54]:
data3.to_csv("walk_5_kmeans.csv")