In [26]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()  # for plot styling
import numpy as np
import pandas as pd

In [27]:
bike_df_start = pd.read_csv('./bike-trip-data.csv')

In [28]:
#bike_df_start = bike_df_start.drop_duplicates(['start station name'])

In [29]:
bike_df_start_final = bike_df_start[['start station name','start station latitude','start station longitude']]

In [30]:
bike_df_start_final = bike_df_start_final.reset_index(drop=True)

In [31]:
bike_df_start_final.head()

,start station name,start station latitude,start station longitude
0,MIT at Mass Ave / Amherst St,42.358100,-71.093198
1,Cross St at Hanover St,42.362811,-71.056067
2,MIT at Mass Ave / Amherst St,42.358100,-71.093198
3,MIT at Mass Ave / Amherst St,42.358100,-71.093198
4,Aquarium T Stop - 200 Atlantic Ave,42.359912,-71.051430

In [32]:
bike_df_end = pd.read_csv('./bike-trip-data.csv')

#bike_df_end = bike_df_end.drop_duplicates(['end station name'])

bike_df_end_final = bike_df_end[['end station name','end station latitude','end station longitude']]

bike_df_end_final = bike_df_end_final.reset_index(drop=True)

bike_df_end_final.head()

,end station name,end station latitude,end station longitude
0,MIT at Mass Ave / Amherst St,42.358100,-71.093198
1,One Kendall Square at Hampshire St / Portland St,42.366277,-71.091690
2,MIT at Mass Ave / Amherst St,42.358100,-71.093198
3,MIT at Mass Ave / Amherst St,42.358100,-71.093198
4,Congress St at Northern Ave,42.348100,-71.037640

In [33]:
bike_df_start_final.columns = ['station_name','latitude','longitude']
bike_df_end_final.columns = ['station_name','latitude','longitude']

In [34]:
all_dfs = [bike_df_start_final,bike_df_end_final]

In [35]:
unique_stations = pd.concat(all_dfs).reset_index(drop=True)

In [36]:
unique_stations_final = unique_stations.drop_duplicates()

In [37]:
unique_stations_final[:10]

                                         station_name   latitude  longitude
0                        MIT at Mass Ave / Amherst St  42.358100 -71.093198
1                              Cross St at Hanover St  42.362811 -71.056067
4                  Aquarium T Stop - 200 Atlantic Ave  42.359912 -71.051430
5   Allston Green District - Griggs St at Commonwe...  42.349225 -71.132753
7                     MIT Pacific St at Purrington St  42.359573 -71.101295
8              Dudley Square - Dudley St at Warren St  42.328540 -71.084165
10                                    University Park  42.362648 -71.100061
11                             Cambridge St at Joy St  42.361291 -71.065262
12                                          Mt Auburn  42.374786 -71.133202
13                                     Kenmore Square  42.348706 -71.097009

In [38]:
unique_stations_final.station_name.nunique()

252

In [39]:
unique_stations_final.to_csv("Corrected blue bike stations.csv")